<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-lg hover:shadow-xl transition-all duration-300 rounded-lg mt-5">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Criar Conta</h2>
          <form (ngSubmit)="registrar()" #cadastroForm="ngForm" class="space-y-4">
            <div class="mb-3">
              <input 
                type="email" 
                class="form-control form-control-lg" 
                [class.is-invalid]="errors.email"
                placeholder="Email" 
                [(ngModel)]="email" 
                name="email" 
                required
                #emailInput="ngModel">
                @if(errors.email){
                  <div class="invalid-feedback">
                    {{ errors.email }}
                  </div>
                }
            </div>
            <div class="mb-4">
              <input 
                type="password" 
                class="form-control form-control-lg" 
                [class.is-invalid]="errors.senha"
                placeholder="Senha" 
                [(ngModel)]="senha" 
                name="senha" 
                required
                #senhaInput="ngModel">
                @if(errors.senha){
                  <div class="invalid-feedback">
                    {{ errors.senha }}
                  </div>
                }
                <small class="form-text text-muted">
                  Tamanho mínimo de 8 caracteres, mínimo uma letra maiúscula e um caractere especial.
                </small>
            </div>
            <div class="d-grid gap-2">
              <button 
                type="submit" 
                class="btn btn-primary btn-lg shadow-sm hover:shadow-md transition-all duration-300"
                [disabled]="isSubmitting">
                @if(isSubmitting){
                  <span  class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                  <span >Registrando...</span>
                } @else {
                  <span >Criar Conta</span>
                }                
              </button>
              <button 
                type="button" 
                class="btn btn-outline-secondary btn-lg shadow-sm hover:shadow-md transition-all duration-300"
                (click)="voltarParaLogin()">
                Voltar para Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>